* {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size:2em;
  margin-top:3em;
  text-align: center;
}


.grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 300px;
    background-color: lightgray;
    margin-top: 100px;
  }
  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
  }
  
