* {
        box-sizing: border-box;
        margin: 0;
        background-color: black;
        color: white;
        font-family: 'Press Start 2P', cursive;
      }

h1 {
  font-size:2em;
  margin-top:3em;
  text-align: center;
}

#nav-container {
        border: solid white 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7em;
        margin-bottom: 10em;
        width: 30em;
        padding: 2em;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
      
li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
}
      
li {
        border-bottom: 1px solid #555;
}
      
li:last-child {
        border-bottom: none;
}
      
li a.active {
        background-color: #04AA6D;
        color: white;
}
      
li a:hover:not(.active) {
        background-color: #555;
        color: white;
}
    